@font-face {
    font-family: 'OxygenRegular';
    src: url('../fonts/OxygenRegular.eot');
    src: url('../fonts/OxygenRegular.eot') format('embedded-opentype'),
         url('../fonts/OxygenRegular.woff2') format('woff2'),
         url('../fonts/OxygenRegular.woff') format('woff'),
         url('../fonts/OxygenRegular.ttf') format('truetype'),
         url('../fonts/OxygenRegular.svg#OxygenRegular') format('svg');
}
@font-face {
    font-family: 'OxygenLight';
    src: url('../fonts/OxygenLight.eot');
    src: url('../fonts/OxygenLight.eot') format('embedded-opentype'),
         url('../fonts/OxygenLight.woff2') format('woff2'),
         url('../fonts/OxygenLight.woff') format('woff'),
         url('../fonts/OxygenLight.ttf') format('truetype'),
         url('../fonts/OxygenLight.svg#OxygenLight') format('svg');
}
@font-face {
    font-family: 'OxygenBold';
    src: url('../fonts/OxygenBold.eot');
    src: url('../fonts/OxygenBold.eot') format('embedded-opentype'),
         url('../fonts/OxygenBold.woff2') format('woff2'),
         url('../fonts/OxygenBold.woff') format('woff'),
         url('../fonts/OxygenBold.ttf') format('truetype'),
         url('../fonts/OxygenBold.svg#OxygenBold') format('svg');
}